<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="/semantic-ui/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>

    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog App</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
        <!-- <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="/">login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">sign up</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">log out</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->
            
                