<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">YelpCamp</a>
                    </div>
                    <div class="">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link" href="/">login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">sign up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">log out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
                