<% include ../partials/header %>

<div class="container">
    <div style="text-align:center">
        <h1>Add a comment to <%= campground.name %></h1>
    </div>

    <div class="new-campground">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="Comment">
            </div>
            <button class="btn btn-lg btn-primary btn-block">Create</button>
        </form>

        <a href="/campgrounds/<%= campground._id %>">Back</a>
    </div>
</div>

<% include ../partials/footer %>